@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --primary-color: #101828;
  --secondary-color: #f7f0ff;
  --accent-color: #60269e;
  --muted-color: gray;
  --hero-text: 3em;
  --header-text: 2em;
  --header-text-margin: 15px 0px 50px 0px;
  --margin-between-paragraph: 15px 0px 15px 0px;
}

/* ||GENERAL  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
}

p {
  color: var(--muted-color);
}

a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 10px;
}

span {
  color: var(--accent-color);
}

button:hover {
  cursor: pointer;
}

.active-button {
  background: var(--accent-color);
  color: white;
}

.active-button:hover {
  background: var(--primary-color);
  color: white;
  transition: background 3s ease-out 0.4s;
}

/*|| NAV BAR  */

nav {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px 20px 80px;
  position: fixed;
  width: 100%;
}

#nav-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

#hamburger-icon {
  display: none;
}

#hamburger-menu {
  display: none;
}

/* || HERO SECTION  */
#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 150px 70px 150px 70px;
}

#hero-section small {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
}

#hero-section h1 {
  font-size: var(--hero-text);
  font-weight: bolder;
  margin: var(--header-text-margin);
}

#hero-section button {
  margin-top: 55px;
}

/* || ACHIEVEMENT SECTION  */
#achevements-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  padding: 120px 70px 120px 70px;
}

#achevements-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#achevements-section h2 {
  font-size: var(--header-text);
  margin: var(--header-text-margin);
}

.achevements {
  display: flex;
  align-items: center;
  gap: 10px;
}

.achevements h5 {
  font-size: 1.5em;
  margin-button: 25px;
}

.achevements small {
  color: var(--accent-color);
}

/* || OUR STORY SECTION  */
#our-story {
  display: flex;
  justify-content: center;
  align-items: cener;
  padding: 200px;
  border-bottom: 1px solid gray;
}

#our-story div {
  padding: 0px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#our-story div:nth-child(2) {
  font-weight: bold;
}

#our-story div > p {
  margin: 0px 0px 15px 0px;
}

#our-story img {
  border-radius: 15px;
}

#our-story h2 {
  font-size: var(--header-text);
  margin: var(--header-text-margin);
}

/* || WHAT SETS YOU ASIDE SECTION  */
#set-you-aside-section {
  padding: 200px 300px 200px 300px;
  text-align: center;
}

#set-you-aside-section h2 {
  font-size: var(--header-text);
  margin: var(--header-text-margin);
}

#set-you-aside-section div article {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 15px;
}

#article-icon {
  margin: var(--margin-between-paragraph);
}

#article-header {
  margin: var(--margin-between-paragraph);
}

/* || THRIVING COMMUNITY SECTION  */
#thriving-community-section {
  background: var(--secondary-color);
  padding: 200px 300px 200px 300px;
  display: flex;
}

#community-section-container {
  padding: 0px 100px 0px 100px;
  /* background: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#community-section-container h3 {
  font-size: var(--header-text);
  margin: var(--header-text-margin);
}

#community-section-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-image {
  width: 100%;
  height: 70%;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

#decorator1 {
  width: 85px;
  position: absolute;
  top: 240px;
  right: 200px;
}

#decorator2 {
  width: 85px;
  position: absolute;
  top: 10px;
  left: 200px;
}

/* ||GROW WITH US  */
#grow-with-us {
  background: var(--secondary-color);
  padding: 0px 200px 60px 200px;
  display: flex;
  justify-content: center;
}

#grow-with-us h2 {
  color: white;
}

#grow-with-us button {
  color: white;
  border: 1px solid white;
  margin-top: 15px;
}

#grow-with-us img {
  width: 50%;
  /* padding: 100px 10px; */
}

#grow-with-us > div {
  background: var(--primary-color);
  /* padding: 40px; */
  display: flex;
  border-radius: 50px;
}

#grow-with-us > div:nth-child(1) {
  padding: 100px 100px;
}

/* ||OUR MENTOR  */
#mentor-section {
  background: var(--secondary-color);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mentor-section > div {
  display: flex;
  gap: 20px;
  padding: 0px 300px;
  text-align: center;
}

#mentor-section h6 {
  margin: 10px 0px 0px 0px;
}

#mentor-section small {
  color: var(--primary-color);
}

.card-icon {
  margin-top: 20px;
}

#mentor-section .bi {
  font-size: 1.5em;
  color: gray;
  margin: 5px;
}

#mentor-section .profiling {
  color: gray;
  margin-top: 15px;
}

.mentor {
  border: 1px solid black;
  padding: 15px;
  background: white;
}

/* ||FOOTER  */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: white;
}

#upper-footer {
  padding: 100px 50px 100px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
}

#links {
  display: flex;
  gap: 100px;
}

/* #upper-footer div{
  width
} */

#upper-footer li {
  list-style-type: none;
}

#upper-footer ul {
  padding-left: 0px;
}

/* LOWER FOOTER */
#lower-footer {
  border-top: 1px solid white;
  width: 100%;
  text-align: center;
  padding: 50px 150px 50px 150px;
  display: flex;
  justify-content: space-between;
}

#lower-footer .bi {
  margin: 10px;
}

/* ||TABLETS to larger phone screen  */
@media screen and (max-width: 768px) {
  /* ||Navigation  */
  nav {
    position: fixed;
  }

  #nav-menu,
  #nav-cta {
    display: none;
  }

  #hamburger-icon {
    display: block;
    font-size: 4em;
  }

  #hamburger-icon:hover {
    cursor: pointer;
  }

  #hamburger-menu {
    padding: 50px;
    display: block;
    width: 100vw;
    position: fixed;
    top: -800px;
    right: 5px;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    background: white;
    /* display: none; */
    transition: top 0.5s ease-in-out;
  }

  #hamburger-menu.hamburger-open {
    top: 80px;
  }

  #hamburger-menu ul {
    width: 100%;
    padding: 0px;
    transition: 5s;
  }

  #hamburger-menu ul li {
    background: white;
    list-style-type: none;
    text-align: center;
    /* margin: 15px; */
    padding: 10px;
    transition: 5s;
  }

  #hamburger-menu ul li:hover {
    color: var(--accent-color);
  }

  #hamburger-menu button {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  /* ||ACHIEVEMENT  */
  #achevements-section {
    padding: 70px;
    text-align: center;
  }

  #achevements-section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .achevements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  /* ||our story  */
  #our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
    border-bottom: 1px solid gray;
    text-align: center;
  }

  #our-story div {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #our-story img {
    width: 100%;
  }

  /* || WHAT SETS YOU ASIDE SECTION  */
  #set-you-aside-section {
    padding: 200px 50px 200px 50px;
    text-align: center;
  }

  #set-you-aside-section h2 {
    font-size: var(--header-text);
    margin: var(--header-text-margin);
  }

  #set-you-aside-section div article {
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 15px;
  }

  #article-icon {
    margin: var(--margin-between-paragraph);
  }

  #article-header {
    margin: var(--margin-between-paragraph);
  }

  /* ||thriving  */
  #thriving-community-section {
    background: var(--secondary-color);
    padding: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #main-image {
    margin-top: 30px;
  }

  #community-section-container {
    padding: 0px 5px 0px 5px;
  }

  #community-section-container h3 {
    font-size: var(--header-text);
    margin: var(--header-text-margin);
  }
}

@media screen and (max-width: 424px) {
  /* ||Navigation  */
  nav {
    position: relative;
    padding: 20px 20px 20px 20px;
  }

  #nav-menu,
  #nav-cta {
    display: none;
  }

  #hamburger-icon {
    display: block;
    font-size: 4em;
  }

  #hamburger-icon:hover {
    cursor: pointer;
  }

  #hamburger-menu {
    padding: 50px;
    display: block;
    width: 100vw;
    position: absolute;
    top: -800px;
    right: 5px;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    background: white;
    /* display: none; */
  }

  #hamburger-menu ul {
    width: 100%;
    padding: 0px;
  }

  #hamburger-menu ul li {
    background: white;
    list-style-type: none;
    text-align: center;
    /* margin: 15px; */
    padding: 10px;
  }

  #hamburger-menu ul li:hover {
    background: var(--accent-color);
  }

  #hamburger-menu button {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  /* || HERO SECTION  */
  #hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 150px 20px 150px 20px;
  }

  #hero-section h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: var(--header-text-margin);
  }

  /* ||ACHIEVEMENT  */
  #achevements-section {
    padding: 70px;
    text-align: center;
  }

  #achevements-section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .achevements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  /* ||our story  */
  #our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
    border-bottom: 1px solid gray;
    text-align: center;
  }

  #our-story div {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #our-story img {
    width: 100%;
  }

  /* || WHAT SETS YOU ASIDE SECTION  */
  #set-you-aside-section {
    padding: 200px 30px 200px 30px;
    text-align: center;
  }

  #set-you-aside-section h2 {
    font-size: var(--header-text);
    margin: var(--header-text-margin);
  }

  #set-you-aside-section div article {
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 15px;
  }

  #article-icon {
    margin: var(--margin-between-paragraph);
  }

  #article-header {
    margin: var(--margin-between-paragraph);
  }

  /* ||thriving  */
  #thriving-community-section {
    background: var(--secondary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #main-image {
    margin-top: 30px;
  }

  #community-section-container {
    padding: 0px 5px 0px 5px;
  }

  #community-section-container h3 {
    font-size: var(--header-text);
    margin: var(--header-text-margin);
  }
}
